
<h3 class="title">Campaigns</h3>
<div class="categories-container">
  <div class="category" *ngFor="let category of categories" matTooltip="{{category.name}}"  >
    <div class="category-icon">
      <!-- Ubacivanje slike iz assets foldera -->
      <img *ngIf="!category.emoji" [src]="category.image" >
      <span *ngIf="category.emoji" class="large-emoji">{{ category.emoji }}</span>
    </div>
    
  </div>
</div>
<button mat-button class="nbuttonEnd" (click)="createCampaign()"> + New</button>

<div class="grid-container">
   
    <div class="card" *ngFor="let item of campaigns">
      <h3>{{ item.name }}</h3>
      <p>{{ item.description }}</p>
      <p>Goal Amount: {{ item.goalAmount | currency }}</p>
      <p>Deadline: {{ item.deadline | date:'shortDate' }}</p>
      <p>Donated Amount: {{ item.donatedAmount | currency }}</p>

        <!-- Progres bar -->
    <div class="progress-bar-container">
      <div class="progress-bar" [ngStyle]="{'width': calculateProgress(item.donatedAmount, item.goalAmount) + '%'}"></div>
    </div>

    <!-- Dugme Donate -->
    <button class="donate-button" (click)="donate(item.id)">Donate via MetaMask</button>
    <button class="donate-button" (click)="donatePayPal(item.id)">Donate via PayPal</button>
    </div>
  </div>