:host {
    display: block;
    height: 100vh; /* Postavlja visinu na celu visinu prozora */
    background-color: #55785b;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Tačno 5 kolona */
    gap: 20px; /* Razmak između kartica */
    padding: 20px; /* Dodatni prostor oko kartica unutar kontejnera */
    height: 100%; /* Zauzimanje cele visine roditeljskog elementa (tj. tela) */
  }
  
  .card {
    margin-top: 20px;
    background-color: white;
    border-radius: 10px; /* Zaobljeni uglovi */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Blaga senka za efekt dubine */
    padding: 20px; /* Unutrašnji prostor unutar kartice */
    max-width: 100%; /* Maksimalna širina kartice */
    max-height: 20px;
  }
  